/* REGOLE GENEARLI CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}


/* REGOLE CSS HEADER */

header{
    height: 100vh;
    width: 100%;
    background-color: #b4d0e7;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
}

header ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #000;
}

.button-link{
    color: #fff;
    background-color: #116bff;
    padding: 5px 10px;
    text-decoration: none;
}

/* Regole Jumbotron */

.jumbotron{
    padding-top: 50px;
}

.text-title{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 50px;
}

.text-jumbotron{
    width: 40%;
}

.text-jumbotron p{
    margin-bottom: 40px;
}

.text-jumbotron span{
    margin-top: 40px;
    margin-bottom: 60px;
    display: block;
}

.fa-arrow-down{
    font-size: 50px;
    color: #000;
}

.jumbotron-img{
    width: 150%;
}

.jumbotron-img img{
    width: 100%;
}


.jumbotron-flex{
    display: flex;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    /* DEBUG
    background-color: cadetblue; */
    /* height:300px; */
}


/* REGOLE CSS MAIN */

.container{
    width: 60%;
    margin: 0 auto;
}

.main-section{
    margin-top: 150px;
}

.main-section h2{
    font-size: 40px;
}


/* Regole css prima section */


#bill{
    margin-top: 40px;
}

.business-plan{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.price-col{
    width: calc(100% / 3);
}

.col{
    border: 1px solid gray;
}

.title-col{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 8px;
}

.plan-type, .service-plan, .free-test, .highlights-plan{
    padding: 20px;
}

.plan-type span{
    display: block;
}

.plan-type h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.price, .conctat{
    font-weight: bold;
    margin-bottom: 15px;
}

.month{
    color: lightgray;
}

.shop-now{
    margin-top: 20px;
}

.highlights-plan h6{
    font-size: 15px;
    margin-bottom: 30px;
}

.price-col ul{
    list-style-type: none;
}

.price-col ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

li .fa-user, .fa-check, .fa-folder, .fa-share-nodes{
    margin-right: 10px;
    margin-top: 5px;
}

li .fa-check{
    color: #afccfe;
}

.info-col{
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.info-text{
    margin-top: 50px;
}

.info-col .button-link{
    position: absolute;
    right: 30px;
    top: 70px;
    padding: 10px 30px;
}


/* Regole css seconda section */

#add-partner{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.partner{
    width: 40%;
}

.img-partner{
    width: 60%;
}

.partner img{
    width: 100%;
}

.partner h4{
    padding-top: 50px;
    font-size: 30px;
}

.partner h4, p{
    margin-bottom: 30px;
}

.partner .button-link{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid lightgray;
}


/* Regole css terza section */

.operation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.operation-column{
    width: calc(100% / 3 - 40px);
    margin-top: 50px;
}

.operation-img img{
    width: 100%;
}

.operation-text p{
    margin-top: 20px;
}


/* Regole css quarta section */

.dropbox-business{
    width: 60%;
}

.dropbox-business h2{
    margin-bottom: 50px;
}

.dropbox-business a{
    text-decoration: underline;
}


/* REGOLE CSS CUSTOMER */

.customer-box {
    display: flex;
    height: 600px;
}
  
.square {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.border-square{
    border: 15px solid rgba(250, 250, 250, 0.4);
}

#customer-text{
    background-color: #f5f5f5;
    padding-left: 50px;
}

#customer-text img{
    width: 50%;
}

.sub-square {
    width: 50%;
    height: 50%;
    position: relative;
}

#designit{
    background-color: #a2d39b;
}

#arizona-state-university{
    background-color: #61082b;
}

#university-of-florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#world-bicycle-relief{
    background-color: #d5001f;
}

#hearst-corp{
    background-color: #b4d0e7;
}

#lonely-planet{
    background-color: #0d2481;
}

#clear-channel{
    background-color: #ffd830;
}

.sub-square img{
    width: 50%;
    filter: invert(1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Regole css Quinta sezione */

.azienda{
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
    height: 400px;
}

.container-flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #b4d0e7;
}

.container-flex h2{
    color: #7d5574;
    font-size: 40px;
}

.button-linkwhite{
    padding: 8px 30px;
    background-color: #fff;
    color: #000;
    border: 1px solid lightgray;
}


/* Regole FAQ Section */

.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid black;
}

.faq-top{
    margin-top: 50px;
}

.faq-bottom{
    border-bottom: 1px solid black;
}


/* REGOLE CSS FOOTER */

footer{
    background-color: black;
    margin-top: 150px;
    color: #fff;
    /* DEBUG */
    height: 500px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.col-footer{
    width: calc(100% / 5);
    margin-top: 80px;
}

.col-footer ul{
    list-style-type: none;
    line-height: 40px;
}

.col-footer ul li:first-child{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.col-footer a{
    text-decoration: none;
    color: #fff;
}

.footer-language{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.footer-language a{
    color: #fff;
}