/* REGOLE GENEARLI CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}


/* REGOLE CSS HEADER */

header{
    height: 100vh;
    width: 100%;
    background-color: #b4d0e7;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
}

header ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #000;
}

.button-link{
    color: #fff;
    background-color: #116bff;
    padding: 5px 10px;
    text-decoration: none;
}

/* Regole Jumbotron */

.jumbotron{
    padding-top: 50px;
}

.text-title{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 50px;
}

.text-jumbotron{
    width: 40%;
}

.text-jumbotron p{
    margin-bottom: 40px;
}

.text-jumbotron span{
    margin-top: 40px;
    margin-bottom: 60px;
    display: block;
}

.fa-arrow-down{
    font-size: 50px;
    color: #000;
}

.jumbotron-img{
    width: 150%;
}

.jumbotron-img img{
    width: 100%;
}


.jumbotron-flex{
    display: flex;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    /* DEBUG
    background-color: cadetblue; */
    /* height:300px; */
}


/* REGOLE CSS MAIN */

.container{
    width: 50%;
    margin: 0 auto;
}


/* Regole css prima section */

#business-section{
    padding-top: 120px;
}

#business-section h2{
    font-size: 40px;
}

#bill{
    margin-top: 40px;
}

.business-plan{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.price-col{
    width: calc(100% / 3);
}

.col{
    border: 1px solid gray;
}

.title-col{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 8px;
}

.plan-type, .service-plan, .free-test, .highlights-plan{
    padding: 20px;
}

.plan-type span{
    display: block;
}

.plan-type h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.price, .conctat{
    font-weight: bold;
    margin-bottom: 15px;
}

.month{
    color: lightgray;
}

.service-plan span{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;

}

.shop-now{
    margin-top: 20px;
}

.highlights-plan h6{
    font-size: 15px;
    margin-bottom: 30px;
}

.highlights-plan ul{
    list-style-type: none;
}

.highlights-plan ul li{
    margin-bottom: 20px;
}

.fa-check{
    margin-right: 10px;
    color: #afccfe;
}

.info-col{
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.info-text{
    margin-top: 50px;
}

.info-col .button-link{
    position: absolute;
    right: 30px;
    top: 70px;
    padding: 10px 30px;
}


/* Regole css seconda section */

#add-partner{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}

.partner{
    width: 50%;
    /* DEBUG */
    height: 300px;
    background-color: blue;
}


/* Regole css terza section */

.operation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.operation-column{
    width: calc(100% / 3 - 20px);
    /* DEBUG */
    height: 300px;
    background-color: blue;
}

.operation-img{
    /* DEBUG */
    height: 200px;
    background-color: red;
}

.operation-text{
    /* DEBUG */
    height: 100px;
    background-color: #fff;
    border: 1px solid black;
}


/* Regole css Customer */

.customer{
    display: flex;
}

.customer-block{
    height: 500px;
    width: 500px;
    /* DEBUG */
    background-color: black;
}

.customer-text{
    /* DEBUG */
    background-color: #fff;
}


/* Regole css Quinta sezione */

.azienda{
    display: flex;
    align-items: center;
    /* DEBUG */
    background-color: aquamarine;
    height: 300px;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    background-color: aquamarine;
}


/* Regole FAQ Section */
.faq{
    /* DEBUG */
    border: 2px solid black;
}


/* REGOLE CSS FOOTER */

footer{
    background-color: black;
    /* DEBUG */
    height: 500px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.col-footer{
    width: calc(100% / 5 - 20px);
    /* DEBUG */
    background-color: white;
    height: 200px;
}

footer h6{
    background-color: #fff;
}

